
h2 {
    text-transform: uppercase;
}

#caixa {
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    background: #b9c941;
    border-radius: 200px;
}

#caixa1 {
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 50px;
    background: #b9c941;
}

#caixa2 {
    width: 400px;
    height: 300px;
    margin: 10px;
    padding: 50px;
    background: #b9c941;
    box-sizing: border-box;
}

.borda {
    width: 300px;
    height: 300px;
    border-radius: 20px 80px;
}

.borda2 {
    border: 1px solid red;
}

/* 92. Degradês & Transparências */

.caixa3 {
    width: 300px;
    height: 300px;
    /* background: url("../imagens/camera.png"); */
    /* background: linear-gradient(red, green); */
    background: linear-gradient(to left, red, green);
}

.caixa4 {
    width: 300px;
    height: 300px;
    background: linear-gradient(50deg, red, green, yellow);
}

.caixa5 {
    width: 300px;
    height: 300px;
    background: radial-gradient(red, green, yellow);
}

.caixa3 h3 {
    background: rgba(255, 255, 255, 0.3);
}

/* 93. Sombras */

.caixa6 {
    width: 300px;
    height: 300px;
    padding: 8px;
    margin: 20px;
    background: #009670;
    box-shadow: -8px 8px 5px rgba(0, 0, 0, 0.5);
}

.caixa6 .sombra {
    color: white;
    /* text-shadow: 4px 4px black; */
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
}

/* 94. Animações */

@keyframes animacao-caixa {
    from {/*Estado inicial*/
        background: red;
        border-radius: 0px;
        margin-top: 0px;
        left: 0px;
    }
    to {
        background: green;
        border-radius: 300px;
        margin-top: 200px;
        left: 200px;
    }
}

.caixa7 {
    position: relative;
    width: 300px;
    height: 300px;
    background: red;
    /* animation-name: animacao-caixa;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: 4;
    /* animation-direction: reverse; */
    /* animation-direction: alternate-reverse; 
    animation-direction: alternate; */
    animation: animacao-caixa 5s 3s 4 alternate;
}

/* 96. Novas tags html 5 Header, Nav e Footer */

header {
    border: 2px solid red;
    padding: 10px;
}

nav {
    border: 2px solid green;
    padding: 10px;
}

footer {
    border: 2px solid blue;
    padding: 10px;
}

/* 97. Novas tags html 5 Article, Section, Aside e time */

article {
    background-color: rgba(255, 165, 0, 0.2);
    border: 2px solid yellow;
    padding: 10px;
    float: height;
}

section {  
    border: 2px dotted black;
    margin: 5px;
}

aside {
    background: blue;
    float: left;
}

/* 98. Compatibilidade Html 5 */

/* 99. Novas tags de Input Html 5 */

/* 100. Flexbox - container */

#conteudo {
    background: #dcdcdc;
    height: 400px;
    display: flex;

    /* row/row-reverse/column/column-reverse */
    flex-direction: row-reverse;

    /* nowrap/wrap/wrap-reverse */
    flex-wrap: nowrap;

    /*flex-start|flex-end|center|space-between | space-around*/
    justify-content:space-around;

    /*stretch|center|flex-start|flex-end|baseline*/
    align-items: baseline;
}

.item {
    /* width: 100px;
    height: 100px; */
    margin: 10px;
    background: white;
    border: 1px solid gray;
}

/* 101. Flexbox - itens - parte 1 */

#conteudo2 {
    background: #dcdcdc;
    height: 400px;
    display: flex;

}

.item2 {
    width: 100px;
    height: 100px;
    margin: 10px;
    background: white;
    border: 1px solid gray;

    /* Define proporcoes de espaco ocupado por um item */
    flex-grow: 0;
}

.item3 {
    flex-grow: 1;
}       
.item4 {
    flex-grow: 2;
}       
.item5 {
    flex-grow: 3;
}       
.item6 {
    flex-grow: 4;
}       


.ordem1 {
    order: 1;
}
.ordem2 {
    order: 2;
}
.ordem3 {
    order: 3;
}
.ordem4 {
    order: 4;
}
.ordem {
    order: -1;
}


/* 102. Flexbox - itens - parte 2 */

#conteudo3 {
    background: #dcdcdc;
    height: 400px;
    display: flex;

}

.topico2 {
    width: 200px;
    height: 100px;
    margin: 10px;
    background: white;
    border: 1px solid gray;

    /* Define proporcoes de espaco ocupado por um topico */
    flex-grow: 0;

    /* Define a capacidade de reducao de tamanho do item */
    flex-shrink: 1;

    /* Indica a capacidade de reducao de tamanho do item */
    /* flex-basis: 200px; */

}

.topico3 {
    /* flex-grow: 1; */
    flex-shrink: 1;
    
    /* Indica a capacidade de reducao de tamanho do item */
    flex-basis: 50px;
}       
.topico4 {
    /* flex-grow: 2; */
    flex-shrink: 2;
}       
.topico5 {
    /* flex-grow: 3; */
    flex-shrink: 3;
}       
.topico6 {
    /* flex-grow: 4; */
    flex-shrink: 4;
}       


/* .organizacao1 {
    order: 1;
}
.organizacao2 {
    order: 2;
}
.organizacao3 {
    order: 3;
}
.organizacao4 {
    order: 4;
}
.organizacao {
    order: -1;
} */



